
#tweet-quote{
    color:#008CBA;
}
#new-quote{
    background-color:#008CBA;
    padding: 5px,6px;
    color: white;
}

#quote-box{
    background-color:rgb(98, 216, 231);
}
#card{
    
}